# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist
!App/
App/*
!App/AppInfo/
!App/DefaultData/
!App/Utils/
!.github/
!.editorconfig
!.gitignore
!FFox.exe
!FFox.ini
!README.md
!Updater.bat
